body {
  margin: 0;
  --multiplier: 1;
  font-family: "MBOldStyle", Georgia, "Times New Roman", Times, serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
@supports (height: 100dvh) {
  .container {
    width: 100dvw;
    height: 100dvh;
  }
}

h1 {
  font-weight: normal;
  font-size: calc(18px * var(--multiplier));
  letter-spacing: 0.1em;
  margin-bottom: 1.1111em;
  margin-top: 0;
}

span {
  font-size: calc(14.5px * var(--multiplier));
  letter-spacing: 0.09em;
}

p {
  font-size: calc(17.25px * var(--multiplier));
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1::selection,
p::selection {
  background-color: black;
  color: white;
}

@media (min-width: 1800px) {
  body {
    --multiplier: 1.2;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    --multiplier: 1.2;
  }
}
@media (max-width: 767px) {
  body {
    --multiplier: 1;
  }
}
@media (max-width: 1024px) {
  h1 {
    font-size: calc(14.85px * var(--multiplier));
    margin-bottom: 1.35em;
  }
  span,
a {
    display: block;
  }
  p {
    text-align: center;
    font-size: calc(14.15px * var(--multiplier));
  }
  p:not(:last-child) {
    margin-bottom: 1em;
  }
  span {
    font-size: calc(12px * var(--multiplier));
  }
  p {
    margin: 0;
  }
}
@font-face {
  font-family: "MBOldStyle";
  src: url("fonts/MBOldStyle-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
